$font-stack:    'Lato', sans-serif;
$hfont-stack: 'Orbitron', sans-serif;
$primary-color: #333;
$dark: #300;
$bg_color: #223;
$overlay_color: rgba(230,230,255,0.7);

@import 'https://fonts.googleapis.com/css?family=Lato|Orbitron';

body {
  font-family: $font-stack;
  color: $primary-color;
  background-color: $bg_color;
}

h1,h2,h3,h4,.navbar ul li a{
	font-family: $hfont-stack;
	font-variant: small-caps;
	font-weight: bold;
}

section {

	background-color: $overlay_color;
	padding: 10px 10px;

	.body{
		column-count: 3;
		column-gap: 30px;
  	    -moz-column-count: 3;
    	-moz-column-gap: 30px;
    	text-align: justify;
	}
}

.logo_img, .logo_title{
	display: inline-block;
	height: 130px;
}

img.logo{
	height: 120px;
	margin: 10px 20px;
	transition: .6s ease-in-out 0s;
	vertical-align: top;
}

img.logo:hover {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.logo_title{

	h1, h2, h3, h4{
		transition: .2s ease-in-out 0s;
		font-weight: bold;
		line-height: 2em;
	}

	a{
		text-decoration: none;
	}

	h1{
		color: white;
		font-size: 3em;
		margin: 0px;
	
	}

	h4{
		color: #ddd;
	}

	a:hover{
	    -ms-transform: skewX(-3deg); /* IE 9 */
	    -webkit-transform: skewX(-3deg); /* Safari */
	    transform: skewX(-3deg);
	    -webkit-filter: drop-shadow( 2px 2px 2px #d99);
	    filter: drop-shadow( 2px 2px 2px #d99);
	}
}

.carousel-caption{
	left: 10px;
	right: 35%;
	top: 10px;
	bottom: auto;
	padding: 5px 10px;
	text-align: left;
	background-color: rgba(0,0,0,0.5);
}

article{
	h1,h2,h3,h4{
		color: white;
		
	}

	nav{
		ul{
			list-style: none;
			li{
				display: block;
			}
		}
	}

	section{
		h1,h2,h3,h4{
			color: #003;
			background-color: #eeeeff;
			padding: 3px 10px;
			margin-bottom: 0px;
			
		}
		p{
			background-color: #e0e0ff;
			padding: 3px 10px;
			text-align: justify;
		}
	}

}

.team{
	position: relative;
	margin-top: 10px;

	h4{
		position: absolute;
		top: 0;
		left: 25px;
		background-color: rgba(240,240,255,0.4);
		font-family: $font-stack;
	}

	p{

	}

	p.active{

	}

	img{
		width: 100%;
		max-height: 250px;
		overflow: hidden;
	}
}

@font-face {
  font-family: 'topomedics';
  src: url("../fonts/topomedics.eot?99l2d9");
  src: url("../fonts/topomedics.eot?99l2d9#iefix") format("embedded-opentype"), 
  			/*url("../fonts/topomedics.ttf?99l2d9") format("truetype"),*/ 
  			url("../fonts/topomedics.woff?99l2d9") format("woff");
  			/*url("../fonts/topomedics.svg?99l2d9#topomedics") format("svg");*/
  font-weight: normal;
  font-style: normal;
}

.video{
	margin: 10px auto;
}

.todo{
	border: 1px solid red;
	background-color: white;
	padding: 5px 10px;
	margin: 5px;
	h1,h2,h3,h4,p{
		font-variant: none;
		background-color: white;
		color: red;
		font-weight: bold;
	}
}

footer{
	text-align: center;
}

[class^="topomed-"],
[class*=" topomed-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'topomedics' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 3;
  text-align: center;
  color: #49E;
  padding-left: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topomed-google:before {
  content: "\ea88";
}

.topomed-facebook:before {
  content: "\ea90";
}

.topomed-twitter:before {
  content: "\ea96";
}

.topomed-rss:before {
  content: "\ea9b";
}

.topomed-vimeo:before {
  content: "\eaa0";
}

.topomed-behance:before {
  content: "\eaa8";
}

.topomed-github:before {
  content: "\eab0";
}